---
import NewsInterestsActions from "../components/News/NewsAdmin/NewsInterestsActions"
import Layout from "../layouts/Layout.astro";
import "../../app/globals.css";

---

<Layout title="News / Interests">
    <div class="flex flex-col  bg-white border rounded-l-3xl min-h-screen" transition:name="news and interests page">
        <NewsInterestsActions client:load/>
    </div>
</Layout>