---
import ActiveApps from "./RecentApps.tsx";
import UnactiveApps from "./UnactiveApps.tsx";
import FeaturedNews from "./FeaturedNews.astro";
const {user} = Astro.props;
const userName = user.name.split(" ")[0];


---
<div class="flex flex-col gap-12 p-12 bg-white border rounded-l-3xl min-h-screen">
  <section>
    <h1 class="text-4xl mb-5">Welcome back {userName}.</h1>
    <span>Please launch your app below.</span>
  </section>
  <section>
    <ActiveApps client:load />
  </section>
  <section>
    <FeaturedNews />
  </section>
  <section>
    <UnactiveApps client:load/>
  </section>
</div>