---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <section class="col-span-2 shadow-2xl max-h-28 flex flex-col justify-center">
      <Header />
    </section>   
     <slot />
  </body>
</html>
